<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.translation.languageCode %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "Shadowban Scanner",
                "url": "https://shadowban-scanner.roboin.io/"
            }
        </script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7HZY93W2BY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-7HZY93W2BY");
        </script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
        />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="alternate" hreflang="en" href="https://shadowban-scanner.roboin.io/en/" />
        <link rel="alternate" hreflang="ja" href="https://shadowban-scanner.roboin.io/ja/" />
        <link rel="alternate" hreflang="x-default" href="https://shadowban-scanner.roboin.io/" />
        <title data-translation="title"><%= htmlWebpackPlugin.options.translation.title %></title>
        <meta
            name="description"
            data-translation="description"
            data-translation-attribute="content"
            content="<%= htmlWebpackPlugin.options.translation.description %>"
        />
        <meta
            property="og:url"
            data-translation="url"
            data-translation-attribute="content"
            content="<%= htmlWebpackPlugin.options.translation.url %>"
        />
        <meta property="og:type" content="website" />
        <meta
            property="og:title"
            data-translation="title"
            data-translation-attribute="content"
            content="<%= htmlWebpackPlugin.options.translation.title %>"
        />
        <meta
            property="og:description"
            data-translation="description"
            data-translation-attribute="content"
            content="<%= htmlWebpackPlugin.options.translation.description %>"
        />
        <meta property="og:site_name" content="Shadowban Scanner" />
        <meta property="og:image" content="<%= htmlWebpackPlugin.options.translation.ogImage %>" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@keita_roboin" />
    </head>
    <body>
        <header>
            <img src="/image/logo.svg" alt="logo" />
            <div id="language_switcher">
                <span class="material-symbols-outlined">language</span>
                <select id="language_switcher-select">
                    <option value="ja">日本語</option>
                    <option value="en">English</option>
                </select>
            </div>
        </header>
        <main>
            <section id="top_section">
                <div id="top_text_container">
                    <div id="top_text" data-translation="catchphrase">
                        <%= htmlWebpackPlugin.options.translation.catchphrase %>
                    </div>
                    <button class="download_button" data-translation="install">
                        <%= htmlWebpackPlugin.options.translation.install %>
                    </button>
                </div>
                <img
                    id="top_image"
                    data-translation="topImage"
                    data-translation-attribute="src"
                    src="/image/top-ja.svg"
                />
            </section>
            <section id="secondary_section">
                <h2 data-translation="featuresOfShadowbanScanner">
                    <%= htmlWebpackPlugin.options.translation.featuresOfShadowbanScanner %>
                </h2>
                <div class="secondary_section-item_container">
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">person</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="detectAccountsShadowbanAndSensitiveFlags">
                                <%= htmlWebpackPlugin.options.translation.detectAccountsShadowbanAndSensitiveFlags %>
                            </h3>
                            <p data-translation="detectAccountsShadowbanAndSensitiveFlagsDescription">
                                <%=
                                htmlWebpackPlugin.options.translation.detectAccountsShadowbanAndSensitiveFlagsDescription
                                %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">speaker_notes</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="detectTweetsSensitiveFlagsAndAgeRestrictions">
                                <%= htmlWebpackPlugin.options.translation.detectTweetsSensitiveFlagsAndAgeRestrictions
                                %>
                            </h3>
                            <p data-translation="detectTweetsSensitiveFlagsAndAgeRestrictionsDescription">
                                <%=
                                htmlWebpackPlugin.options.translation.detectTweetsSensitiveFlagsAndAgeRestrictionsDescription
                                %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">photo_library</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="detectSensitiveFlagsInProfileMedia">
                                <%= htmlWebpackPlugin.options.translation.detectSensitiveFlagsInProfileMedia %>
                            </h3>
                            <p data-translation="detectSensitiveFlagsInProfileMediaDescription">
                                <%= htmlWebpackPlugin.options.translation.detectSensitiveFlagsInProfileMediaDescription
                                %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">south_america</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="detectCountriesBlockingYourAccount">
                                <%= htmlWebpackPlugin.options.translation.detectCountriesBlockingYourAccount %>
                            </h3>
                            <p data-translation="detectCountriesBlockingYourAccountDescription">
                                <%= htmlWebpackPlugin.options.translation.detectCountriesBlockingYourAccountDescription
                                %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">visibility_off</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="addButtonToShowHiddenTweets">
                                <%= htmlWebpackPlugin.options.translation.addButtonToShowHiddenTweets %>
                            </h3>
                            <p data-translation="addButtonToShowHiddenTweetsDescription">
                                <%= htmlWebpackPlugin.options.translation.addButtonToShowHiddenTweetsDescription %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">cloud_off</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="noAccessToExternalWebsites">
                                <%= htmlWebpackPlugin.options.translation.noAccessToExternalWebsites %>
                            </h3>
                            <p data-translation="noAccessToExternalWebsitesDescription">
                                <%= htmlWebpackPlugin.options.translation.noAccessToExternalWebsitesDescription %>
                            </p>
                        </div>
                    </div>
                    <div class="secondary_section-item">
                        <div class="material-symbols-outlined">code</div>
                        <div class="secondary_section-item_text_container">
                            <h3 data-translation="openSource">
                                <%= htmlWebpackPlugin.options.translation.openSource %>
                            </h3>
                            <p data-translation="openSourceDescription">
                                <%= htmlWebpackPlugin.options.translation.openSourceDescription %>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="download_section">
                <h2 data-translation="installNow"><%= htmlWebpackPlugin.options.translation.installNow %></h2>
                <p id="supported_browsers" data-translation="supportedBrowsers">
                    <%= htmlWebpackPlugin.options.translation.supportedBrowsers %>
                </p>
                <button class="download_button suggest" data-translation="install">
                    <%= htmlWebpackPlugin.options.translation.install %>
                </button>
                <h3 data-translation="doYouUseAnotherBrowser">
                    <%= htmlWebpackPlugin.options.translation.doYouUseAnotherBrowser %>
                </h3>
                <div id="download_links">
                    <a
                        href="https://chromewebstore.google.com/detail/enlganfikppbjhabhkkilafmkhifadjd"
                        target="_blank"
                        data-translation="chromeVersion"
                        ><%= htmlWebpackPlugin.options.translation.chromeVersion %></a
                    >
                    <a
                        href="https://microsoftedge.microsoft.com/addons/detail/kfeecmboomhggeeceipnbbdjmhjoccbl"
                        target="_blank"
                        data-translation="edgeVersion"
                        ><%= htmlWebpackPlugin.options.translation.edgeVersion %></a
                    >
                    <a
                        href="https://addons.mozilla.org/firefox/addon/{8fee6fa8-6d95-4b9e-9c51-324c207fabff}/"
                        target="_blank"
                        data-translation="firefoxVersion"
                        ><%= htmlWebpackPlugin.options.translation.firefoxVersion %></a
                    >
                </div>
            </section>
        </main>
        <footer>
            <p>Copyright © 2023 ろぼいん All rights reserved.</p>
            <p>
                <a href="https://roboin.io/privacy/" data-translation="privacyPolicy"
                    ><%= htmlWebpackPlugin.options.translation.privacyPolicy %></a
                >・<a href="https://github.com/Robot-Inventor/shadowban-scanner/" target="_blank">GitHub</a>
            </p>
        </footer>
        <script src="/js/script.js"></script>
    </body>
</html>
