@import url("./theme.css");

:root {
    font-size: 16px;

    --window-padding: 1.75rem;
    --container-outside-text-padding-left: 0.25rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    padding: var(--window-padding);
    width: max-content;
    background: var(--md-surface-container);
    color: var(--md-on-surface);
    font-size: 1rem;
}

body.mobile {
    max-width: 100vw;
}

#logo {
    height: 1.75rem;
    vertical-align: sub;
}

h1 {
    font-size: 1.4rem;
    width: max-content;
}

#version-number {
    font-size: 0.7em;
    margin-left: 0.5rem;
    color: inherit;
    text-decoration: none;
    color: var(--md-on-surface-variant);
}

fieldset {
    margin: 1.5rem 0;
    border: none;
}

settings-item {
    margin: 0.15rem 0;
}

*:not(settings-item) + settings-item {
    border-radius: 1rem 1rem 0.25rem 0.25rem;
}

settings-group-title {
    padding-left: var(--container-outside-text-padding-left);
}

settings-group-title:not(:first-child) {
    margin: 1.5rem 0 0.5rem 0;
}

settings-description {
    margin: 0.25rem 0 0.5rem 0;
    padding-left: var(--container-outside-text-padding-left);
}

small {
    font-size: 0.8em;
    color: var(--md-on-surface-variant);
    padding-left: var(--container-outside-text-padding-left);
}

#footer-links {
    display: flex;
    margin-top: 0.5rem;
}

#footer-links-inner {
    flex-grow: 1;
    width: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em 1.5em;
}

#footer-links a {
    color: inherit;
}

#x-logo {
    width: 1.2em;
    vertical-align: sub;
    margin: 0 0.5em;
}
