@import url("./theme.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: sans-serif;
    width: 100%;
    background: var(--md-surface-container);
    color: var(--md-on-surface);
    line-height: 175%;
}

body {
    display: flex;
    justify-content: center;
    font-size: 100%;
}

main {
    margin: 0 auto;
    max-width: min(50rem, calc(100% - 4rem));
    margin: 2rem;
}

section {
    background: var(--md-surface);
    border-radius: 0.25rem;
    padding: 2rem;
    margin: 0.15rem 0;
    transition: background 0.2s;
}

section:hover {
    background: var(--md-surface-variant);
}

section:first-of-type {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

section:last-of-type {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

a {
    color: inherit;
}

pre {
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
}
