:root {
    --theme-font-color: #333;
    --theme-background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-font-color: #fff;
        --theme-background-color: #121212;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: sans-serif;
    width: 100%;
    font-size: 100%;
    color: var(--theme-font-color);
    background: var(--theme-background-color);
}

body {
    padding: 2rem 0;
}

main {
    margin: 0 auto;
    max-width: 50rem;
}

a {
    color: inherit;
}

section {
    margin-top: 2rem;
}

.license-item-outer {
    padding: 1rem 0;
    margin: 1rem 0;
    border-top: 0.1rem solid var(--theme-font-color);
}

.license-item-outer h2 {
    margin-bottom: 1rem;
}

pre {
    font-family: inherit;
    font-size: inherit;
}
