.shadowban-scanner-message {
    --message-background-color : rgb(255, 0, 0, 0.2);

    padding: 1em;
    border-radius: 0.5em;
    background: var(--message-background-color);
    margin: 1em 0;
}

.shadowban-scanner-message .twemoji {
    height: 1em;
    width: 1em;
    margin-right: 0.25em;
    vertical-align: middle;
}

.shadowban-scanner-message-no-problem {
    --message-background-color: rgb(0, 255, 0, 0.2);
}

.shadowban-scanner-message button {
    cursor: pointer;
    color: inherit;
    border: none;
    background: none;
}

.shadowban-scanner-message .shadowban-scanner-collapsed-content {
    display: none;
}

.shadowban-scanner-message ul {
    font-family: inherit;
    line-height: inherit;
    margin: 0.75rem 0 0 0;
    padding: 0;
}

.shadowban-scanner-message ul li {
    list-style: none;
}

.shadowban-scanner-message-note {
    opacity: 0.8;
    font-size: 0.8em;
    margin-top: 0.75em;
}

.shadowban-scanner-message-note + .shadowban-scanner-message-note {
    margin-top: 0.5em;
}

.shadowban-scanner-message-note a {
    color: inherit;
}

.shadowban-scanner-message md-filled-button {
    margin-top: 0.5em;
    --md-filled-button-container-color: var(--message-background-color);
}

[data-sb-translation] {
    display: inline-block;
    min-width: 15em;
    min-height: 1em;
    border-radius: 0.25em;
    background-image: linear-gradient(90deg, transparent 40%, rgba(175, 175, 175, 0.7) 80%, transparent 100%);
    background-size: 200% 100%;
    animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 200% 0%;
        opacity: 1;
    }
    100% {
        background-position: 0% 0%;
        opacity: 1;
    }
}
