body[data-color-scheme="light"] {
    --sb-background-green: #a4dda8;
    --sb-background-red: #f6afaf;
}

body[data-color-scheme="dark"] {
    --sb-background-green: #14351d;
    --sb-background-red: #481e1e;
}

body[data-color-accessibility-mode][data-color-scheme="light"] {
    --sb-background-green: #c3d2ee;
    --sb-background-red: #f4b892;
}

body[data-color-accessibility-mode][data-color-scheme="dark"] {
    --sb-background-green: #22487d;
    --sb-background-red: #772929;
}

.shadowban-scanner-tombstone-necromancer {
    display: inline-block;
    margin: 0 2rem;
    text-decoration: none;
}

.shadowban-scanner-tombstone-necromancer:hover {
    text-decoration: underline;
}

sbs-message {
    --message-background-color-red: var(--sb-background-red);
    --message-background-color-green: var(--sb-background-green);
    margin-top: 1em;
}

/*
 * If the bio is empty, the bio element does not exist, and sbs-message is inserted directly after the username,
 * so apply a different style
 */
[data-testid="UserName"] + sbs-message {
    margin-top: 0;
    margin-bottom: 1rem;
}

[data-sb-compact-mode] {
    /*
     * `!important` is required to work with Kiwi Browser.
     * In Kiwi Browser and, likely, in Chrome's mobile layout, it is necessary to override the borders set by X on posts.
     */
    border-left: solid 0.3rem !important;
}

[data-sb-compact-mode="green"] {
    /*
     * `!important` is required to work with Kiwi Browser.
     * In Kiwi Browser and, likely, in Chrome's mobile layout, it is necessary to override the borders set by X on posts.
     */
    border-left-color: var(--sb-background-green) !important;
}

[data-sb-compact-mode="red"] {
    /*
     * `!important` is required to work with Kiwi Browser.
     * In Kiwi Browser and, likely, in Chrome's mobile layout, it is necessary to override the borders set by X on posts.
     */
    border-left-color: var(--sb-background-red) !important;
}

[data-sb-translation] {
    display: inline-block;
    min-width: 15em;
    min-height: 1em;
    border-radius: 0.25em;
    background-image: linear-gradient(90deg, transparent 40%, rgb(175 175 175 / 0.7) 80%, transparent 100%);
    background-size: 200% 100%;
    animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 200% 0%;
        opacity: 1;
    }
    100% {
        background-position: 0% 0%;
        opacity: 1;
    }
}
