body[data-color-scheme="light"] {
    --sb-background-green: #70d28b;
    --sb-background-red: #f99f9f;
}

body[data-color-scheme="dark"] {
    --sb-background-green: #0c411a;
    --sb-background-red: #702d27;
}

.shadowban-scanner-tombstone-necromancer {
    display: inline-block;
    margin: 0 2rem;
    text-decoration: none;
}

.shadowban-scanner-tombstone-necromancer:hover {
    text-decoration: underline;
}

sbs-message {
    --message-background-color-red: var(--sb-background-red);
    --message-background-color-green: var(--sb-background-green);
}

[data-sb-compact-mode] {
    border-left: solid 0.3rem;
}

[data-sb-compact-mode="green"] {
    border-left-color: var(--sb-background-green);
}

[data-sb-compact-mode="red"] {
    border-left-color: var(--sb-background-red);
}

[data-sb-translation] {
    display: inline-block;
    min-width: 15em;
    min-height: 1em;
    border-radius: 0.25em;
    background-image: linear-gradient(90deg, transparent 40%, rgba(175, 175, 175, 0.7) 80%, transparent 100%);
    background-size: 200% 100%;
    animation: loading-animation 1.5s linear infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 200% 0%;
        opacity: 1;
    }
    100% {
        background-position: 0% 0%;
        opacity: 1;
    }
}
